body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    position: relative;
}
.header{
    background-color: #1d559f;
    justify-content: center;
    height: 120px;
    width: 100%;
    display: flex;
}
.left{
    margin-left: 20px;
   
}
.left a{
     max-width: 20%;
}
.left img{
    width: 100%;
}
.right{
    margin-left: 30px;
}
.right ul.right-menu-1{
    text-align: center;
    list-style: none;
    display: flex;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.right-menu-1 li{
    margin-top: 20px;
    height: 90px;
    padding-top: 0;
    width: 20%;
    padding: 20px 20px;
    border-right: 1px solid;
}
.search {
    display: none;
    background-color: antiquewhite;
    top:0;
    right: 30px;
    height: 35px;
    font-size: 80%;
    position: absolute;
    z-index: 9999;
    border: 3px solid white;
    border-radius: 4px/4px;

}
.search i.iCon{
    padding: 10px 10px;
    background-color: gray;
    color: black;
}
.right-menu-1 li i{
    font-size: 160%;
    padding: 10px 10px;
    color: rgb(141, 209, 187);
}
.right-menu-1 li a{
    margin-top: 30px;
    color: rgb(248, 245, 245,0.3);
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    position: relative;
}
.right-menu-1 li a span{
    display: inline-block;
    font-size: 150%;
    position: absolute;
    top: -30px; /* Điều chỉnh vị trí của icon */
    left: 50%; /* Điều chỉnh vị trí của icon */
    transform: translateX(-50%); /* Đưa icon vào giữa */
}
.right-menu-1 li:hover a{
    color: white;
}
.menu-2{
    max-width: 85%;
    list-style: none;
    margin-left: auto;
    display: flex;
}
.menu-2 li{
    display: block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}
.menu-2 li.content:hover{
    color: aqua;
    z-index: 100;
}
.menu-2 .div{
    margin-top: 10px;
    display: none;
    position: absolute;
    box-shadow: 1px 1px 10px 1px;
}
.menu-2 .div ul.menu-c{
    list-style: none;
    min-width: 300px;
    padding: 10px 10px;
}
.menu-2 .div ul.menu-c li a{
    display: block;
    text-align: left;
    text-decoration: none;
    font-weight: 10;
    font-size: 15px;
    border-bottom: 1px solid rgb(210, 207, 207);
    color: black;
}
.menu-2 .sub:hover .div{
    display:flex;
    background-color: rgba(230, 233, 236, 0.9);
}
.icon-menu-2{
    display: none;
}
.menu-2-responsive{
    width: 100%;
    position: absolute;
    margin-left: -200%;
    transition: all .5s;
}
.div ul.menu-c li a:hover{
    color: red;
}
/*TuyenDung.html*/
/* Ending TuyenDung.html*/
/*LichCongTac.html*/
section.freQuency{
    width: 80%;
    margin: auto;
}
table{
    text-indent: initial;
    border: 1px solid #1868b7;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 30px;
}
table td{
    padding: 15px;
    text-align: left;
    border: 1px solid #131314;
    vertical-align: middle !important;
    max-width: 25%;
    display: table-cell;
    font-size: 13px;
}
/*Ending LichCongTac.html*/

.main-content{
    width: 80%;
    margin: auto;
    
}
.main-content ol,ul{
    list-style-position: outside;
    margin-left: 35px;
}
.main-content ol>li{
    padding-bottom:10px;
}
.main-content ul li{
    padding: 3px;
}
.main-content h1{
    position: relative;
    margin-bottom: 15px;
    font-size: 20px;
    padding-bottom: 7px;
}
.main-content h1:before{
    content: "";
    height: 4px;
    width: 60px;
    position: absolute;
    bottom: 0;
    background: red;
    left: 0;
}
.main-content h3{
    font-size: 25px;
    color: #444444;
}

footer{
    width: 100%;
    position: absolute;
    background-color: #1d559f;
    height: 600px;
    color: aliceblue;
}
.footer-header{
    width: 70%;
    margin: auto;
    padding-top: 50px;
    display: flex;
    text-align: justify;
    border-bottom: 1px solid wheat ;
}
.mention,.footer-mention-right{
    width: 50%;
}
.footer-logo,.footer-mention-left{
    width: 50%;
}
.footer-header div p{
    font-size: 17px;
    padding-bottom: 20px;
}
.footer-footer{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.footer-footer h1{
    font-weight: 400;
}
.footer-footer div{
    margin-top: 20px;
}
p{
    padding-bottom: 10px;
}
footer{
    width: 100%;
    background-color: #1d559f;
    color: aliceblue;
}
.footer-header{
    width: 70%;
    margin: auto;
    padding-top: 50px;
    display: flex;
    text-align: justify;
    border-bottom: 1px solid wheat ;
}
.mention,.footer-mention-right{
    width: 50%;
}
.footer-logo,.footer-mention-left{
    width: 50%;
}
.footer-header div p{
    font-size: 17px;
    padding-bottom: 20px;
}
.footer-footer{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.footer-footer h1{
    font-weight: 400;
}
.footer-footer div{
    margin-top: 20px;
}
@media (max-width:1000px)
{
    .menu-2{
        display: none;
        text-align: center;
        text-decoration: none;
    }
    .menu-responsive{
        display: block;

    }
    .icon-menu-2{
        display: block;
    }
    .menu-2-responsive{
        display: flex;
        line-height: 30px;
        list-style: none;
        flex-direction: row;
        flex-wrap: wrap;
        z-index: 9999;
        justify-content: space-between;
        background-color: rgba(32, 63, 220, 0.7);
        margin-left: -200%;
        transition: all .5s;
    }
    .menu-2-responsive li{
        min-width: 40%;
        padding-left: 30px;
        margin: 10px;
    }
    .menu-2-responsive.show{
        margin-left: 0%;
    }
    .icon-menu-2{
        margin: 20px;
    }
}
@media (max-width:720px){
    body{
        width: 100%;
        height: auto;
    }
    .header{
    width: 100%;
    display: block;
    height: auto;
}
    .left{
    width: 90%;
}
.right-menu-1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.right-menu-1 li{
    min-width: 30%;
    text-align: center;
    list-style: none;
    height: auto;
    padding-bottom: 10px;
    border: none;
}
    .right-menu-1 li a{
    font-size: small;
  }
  .menu-2{
    max-width: 100%;
}
.footer-header,.footer-footer{
    width: 100%;
    display: block;
}
.footer-logo{
    width: 100% !important;
    text-align: center;
}
.footer-logo img{
    width: 100%;
}
.mention{
    width: 100%;
    text-align: center;
}
}
@media(max-width:400px){
    .menu-2-responsive{
        width: 100%;
        position: absolute;
        margin-left: -200%;
        transition: all .5s;
    }
}

