body{
    font-family: Arial, Helvetica, sans-serif;
    height: 1000px;
}
header.main-menu{
    background-color: rgb(64, 174, 213);
    border-radius: 5px 5px 0 0;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.flex{
    
    height: 50px;
    display: flex;
    list-style: none;
    background-color:rgb(210, 216, 189);
    box-shadow: 4px 0px 4px 1px black;
}
header{
    margin-bottom: 15px;
}
.menu{
    width: 100%;
    border-radius: 5px/5px;
    position: fixed;
}
.menu li.nav{   
    position: relative;
    width: 11%;
    font-size: 20px;
    border-left: 2px solid;
    border-right: none;
}
.menu li.nav i{
    padding: 0px 10px;
}
.menu li.nav:first-child{
    border-left: 0;
}
.menu li.nav:last-child{
    width: 17%;
}
.menu li.nav a.icon-list{
    text-align: center;
    padding: 10px;
    display: block;
    text-decoration: none;
    height: 100%;
    transition: 0.3s;
}
ul.flex a:active{
    color: rgb(5, 148, 60);
}
.header__notify{
    display: none !important;
    margin-top: 0px;
    position: absolute;
    top: 100%;
    width: 404px;
    right: 0;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 2px/2px;
    border: 1px solid #D3D3D3;
    justify-items:first baseline;
}

.header__notify--header{
    background-color: white;
    margin: 0;

}
.header__notify--header h4{
    color: #999;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 40px;
    margin:0 0 0 12px;
}
.header__notify--list{
    padding-left: 0;
    list-style: none;
    line-height: 100%;
}
.height{
    padding-top: 0;
}
.header__notify--item{
    display: flex;
    transition: 0.3s;
}
.header__notify--item:hover{
    background-color: #e7b3b3;
}
.header__notify--link{
    width: 100%;
    display: flex;
    padding: 12px; 
    text-decoration: none;
}
.header__notify--icon{
    margin-top: 10px;
    object-fit: cover;
}
.header__notify--info{
    margin-left: 12px;
}
.header__notify--name{
    font-size: 20px;
    display: block;
}
.header__notify--description{
    display: block;
    font-size: 12px;
    color: #424141;
}
.menu .nav:hover .header__notify{
    display: block !important;
    overflow: hidden;
}
.logo{
    width: 40%;
    margin: auto;
}
.logo img{
    margin-top: 100px;
    width: 100%;
}
.menu li a.icon-list:hover{
    color: #fffbfb;
    border-right: none;
    background-color: rgb(10, 10, 10);
    border-radius: 2px/2px;
    overflow: hidden;
    box-shadow: 0px 0px 1px 1px rgb(14, 13, 13);
    
}
section{
    width: 100%;
    display: flex;
}
section .left-side{
    width: 80%;
    margin-right: auto;
}
section .left{
    width: 100%;
    display: flex;
}
section h1{
    border-radius: 5px 5px 0 0 ;
    padding: 10px 20px;
    background-color: rgb(155, 155, 196);
    height: 50px;
}
section h1 a{
    color:white;
    text-decoration: none;
    text-align: center;
    font-weight: 100;
}
.announce {
    width: 25%;
}
.announce .icon{
    width: 70%;
    margin: 15%;
    text-align: center;
    overflow: hidden;
}
.announce i{
    font-size: 1000%;
}
.lishInfo{
    width: 75%;
    margin-right: auto;
}
.lishInfo ul{
    list-style: none;
}
.lishInfo ul li{
    border: 1px ridge #e7b3b3;
    border-bottom:none ;
    padding: 10px 10px;
}
.lishInfo ul li a{
    text-decoration: none;
}
section .right-side{
    margin-left: 10px;
    width: 18%;
}
section .right-side .right h1{
    text-align:justify;
}

section .right-side .right i{
    font-size: 25px;
    padding: 5px 5px;
}
.right input{
    height: 30px;
    margin-top: 10px;
}
input.user-name{
    width: 70%;
}
input.password{
    width: 70%;
}
