ul{
    list-style: none;
}
ul li{
    line-height: 30px;
}
ul li a{
    font-size: large;
    font-weight: 500;
    text-decoration: none;
}
ul li a i{
    margin-right: 20px;
}
p{
    font-size: large;
    font-weight: 600;
    text-decoration: none;
    padding: 10px;
}
.menu{
    width: 80%;
    margin: auto;
}